In [1]:
import pandas as pd
%load_ext autotime

In [2]:
def parse_df(s):
    strlist=s[0].split(' ')
    for i in range(len(strlist)):
        s[i]=strlist[i]
    return s

time: 1.58 ms

In [9]:
df=pd.read_csv('Day23.txt',header=None)
df=df.apply(parse_df,axis=1)

time: 50.3 ms

In [10]:
df

      0    1    2
0   cpy    a    b
1   dec    b  NaN
2   cpy    a    d
3   cpy    0    a
4   cpy    b    c
5   inc    a  NaN
6   dec    c  NaN
7   jnz    c   -2
8   dec    d  NaN
9   jnz    d   -5
10  dec    b  NaN
11  cpy    b    c
12  cpy    c    d
13  dec    d  NaN
14  inc    c  NaN
15  jnz    d   -2
16  tgl    c  NaN
17  cpy  -16    c
18  jnz    1    c
19  cpy   95    c
20  jnz   91    d
21  inc    a  NaN
22  inc    d  NaN
23  jnz    d   -2
24  inc    c  NaN
25  jnz    c   -5

time: 15.2 ms

In [11]:
df

      0    1    2
0   cpy    a    b
1   dec    b  NaN
2   cpy    a    d
3   cpy    0    a
4   cpy    b    c
5   inc    a  NaN
6   dec    c  NaN
7   jnz    c   -2
8   dec    d  NaN
9   jnz    d   -5
10  dec    b  NaN
11  cpy    b    c
12  cpy    c    d
13  dec    d  NaN
14  inc    c  NaN
15  jnz    d   -2
16  tgl    c  NaN
17  cpy  -16    c
18  jnz    1    c
19  cpy   95    c
20  jnz   91    d
21  inc    a  NaN
22  inc    d  NaN
23  jnz    d   -2
24  inc    c  NaN
25  jnz    c   -5

time: 13.4 ms

In [12]:
df=pd.read_csv('Day23.txt',header=None)
df=df.apply(parse_df,axis=1)
i=0
j=0
num_dict={
    'a':7,
    'b':0,
    'c':0,
    'd':0
}
instrs=[]

while i< len(df):
    j+=1
    if j%1000==0:
        print j
    series=df.iloc[i]

    if series[0]=='cpy':
        value=series[1]
        # test to see if instruction is valid - only if second argument is in the dictionary
        value2=series[2]
        if value2 not in num_dict.keys():
            continue
        # if it reaches this point, continue
        if value in num_dict.keys():
            num_dict[series[2]]=num_dict[series[1]]
        else:
            num_dict[series[2]]=int(series[1])
    elif series[0]=='jnz':
        value=series[1]
        if value in num_dict.keys():
            if num_dict[value] != 0:
                i+=int(series[2])
                continue
        else:
            val2=series[2]
            if val2 in num_dict.keys():
                if num_dict[val2]!=0:
                    i+=num_dict[val2]
                    continue
            else:
                if int(series[1])!=0:
                    i+=int(series[2])
                    continue
    elif series[0]=='inc':
        num_dict[series[1]]+=1
    elif series[0]=='dec':
        num_dict[series[1]]-=1
    elif series[0]=='tgl':
        if series[1] in num_dict.keys():
            tempi = i + num_dict[series[1]]
        else:
            tempi = i + int(series[1])
        if tempi >= 0 and tempi < len(df):
            tempseries=df.iloc[tempi]
            #test for one argument instructions
            if pd.isnull(tempseries[2]):
                if tempseries[0]=='inc':
                    tempseries[0]='dec'
                else:
                    tempseries[0]='inc'
            #otherwise its a two argument instruction
            else:
                if tempseries[0]=='jnz':
                    tempseries[0]='cpy'
                else:
                    tempseries[0]='jnz'
    i+=1

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
time: 9.38 s

In [56]:
df=pd.read_csv('Day23.txt',header=None)
df=df.apply(parse_df,axis=1)
i=0
j=0
num_dict={
    'a':8,
    'b':0,
    'c':0,
    'd':0
}
instrs=[]

while i< len(df):
    j+=1
    if j%1000==0:
        print j
    series=df.iloc[i]

    if series[0]=='cpy':
        value=series[1]
        # test to see if instruction is valid - only if second argument is in the dictionary
        value2=series[2]
        if value2 not in num_dict.keys():
            continue
        # if it reaches this point, continue
        if value in num_dict.keys():
            num_dict[series[2]]=num_dict[series[1]]
        else:
            num_dict[series[2]]=int(series[1])
    elif series[0]=='jnz':
        value=series[1]
        if value in num_dict.keys():
            if num_dict[value] != 0:
                i+=int(series[2])
                continue
        else:
            val2=series[2]
            if val2 in num_dict.keys():
                if num_dict[val2]!=0:
                    i+=num_dict[val2]
                    continue
            else:
                if int(series[1])!=0:
                    i+=int(series[2])
                    continue
    elif series[0]=='inc':
        num_dict[series[1]]+=1
    elif series[0]=='dec':
        num_dict[series[1]]-=1
    elif series[0]=='tgl':
        if series[1] in num_dict.keys():
            tempi = i + num_dict[series[1]]
        else:
            tempi = i + int(series[1])
        if tempi >= 0 and tempi < len(df):
            tempseries=df.iloc[tempi]
            #test for one argument instructions
            if pd.isnull(tempseries[2]):
                if tempseries[0]=='inc':
                    tempseries[0]='dec'
                else:
                    tempseries[0]='inc'
            #otherwise its a two argument instruction
            else:
                if tempseries[0]=='jnz':
                    tempseries[0]='cpy'
                else:
                    tempseries[0]='jnz'
    i+=1

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000

KeyboardInterrupt:

time: 35.9 s

In [52]:
num_dict

{'a': 8717, 'b': 7, 'c': 0, 'd': 0}

time: 1.97 ms

In [50]:
num_dict

{'a': 8701, 'b': 6, 'c': 0, 'd': 0}

time: 1.7 ms

In [55]:
num_dict

{'a': 13685, 'b': 1, 'c': 0, 'd': 0}

time: 1.86 ms

In [41]:
[i for i in range(10) if i<5]

[0, 1, 2, 3, 4]

time: 2.56 ms

In [14]:
#Part 2

time: 714 µs

In [8]:
df=pd.read_csv('Day23.txt',header=None)
df=df.apply(parse_df,axis=1)

time: 47.1 ms

In [ ]:
def identify_pattern(slist):
    tslist=slist[-6:]
    temp=pd.concat(tslist,axis=1).transpose()
    v=temp.index.value_counts()
    if (v!=2).sum() == 0:
        adiff=temp.iloc[5]['a']-temp.iloc[2]['a']
        bdiff=temp.iloc[5]['b']-temp.iloc[2]['b']
        cdiff=temp.iloc[5]['c']-temp.iloc[2]['c']
        ddiff=temp.iloc[5]['d']-temp.iloc[2]['d']
        diffl=[adiff,bdiff,cdiff,diff]
        decdiff=[d for d in diff1 if d<0]

In [42]:
i=0
j=0
num_dict={
    'a':12,
    'b':0,
    'c':0,
    'd':0
}
instrs=[]
serieslist=[]
while i< len(df):
    
    
    
    j+=1
    if j==10000:
        print j
        break
    series=df.iloc[i]
    series2=series.copy(deep=True)
    series2['a']=num_dict['a']
    series2['b']=num_dict['b']

    series2['c']=num_dict['c']
    series2['d']=num_dict['d']

    serieslist.append(series2)
    
    if series[0]=='cpy':
        value=series[1]
        # test to see if instruction is valid - only if second argument is in the dictionary
        value2=series[2]
        if value2 not in num_dict.keys():
            continue
        # if it reaches this point, continue
        if value in num_dict.keys():
            num_dict[series[2]]=num_dict[series[1]]
        else:
            num_dict[series[2]]=int(series[1])
    elif series[0]=='jnz':
        value=series[1]
        if value in num_dict.keys():
            if num_dict[value] != 0:
                i+=int(series[2])
                continue
        else:
            val2=series[2]
            if val2 in num_dict.keys():
                if num_dict[val2]!=0:
                    i+=num_dict[val2]
                    continue
            else:
                if int(series[1])!=0:
                    i+=int(series[2])
                    continue
    elif series[0]=='inc':
        num_dict[series[1]]+=1
    elif series[0]=='dec':
        num_dict[series[1]]-=1
    elif series[0]=='tgl':
        if series[1] in num_dict.keys():
            tempi = i + num_dict[series[1]]
        else:
            tempi = i + int(series[1])
        if tempi >= 0 and tempi < len(df):
            tempseries=df.iloc[tempi]
            #test for one argument instructions
            if pd.isnull(tempseries[2]):
                if tempseries[0]=='inc':
                    tempseries[0]='dec'
                else:
                    tempseries[0]='inc'
            #otherwise its a two argument instruction
            else:
                if tempseries[0]=='jnz':
                    tempseries[0]='cpy'
                else:
                    tempseries[0]='jnz'
    i+=1

10000
time: 23.7 s

In [43]:
ttt=pd.concat(serieslist,axis=1).transpose()#.index.value_counts()[[6,7]]

time: 920 ms

In [45]:
ttt[ttt.index==5]

      0  1    2     a   b   c     d
5   inc  a  NaN     0  11  11    12
5   inc  a  NaN     1  11  10    12
5   inc  a  NaN     2  11   9    12
5   inc  a  NaN     3  11   8    12
5   inc  a  NaN     4  11   7    12
5   inc  a  NaN     5  11   6    12
5   inc  a  NaN     6  11   5    12
5   inc  a  NaN     7  11   4    12
5   inc  a  NaN     8  11   3    12
5   inc  a  NaN     9  11   2    12
5   inc  a  NaN    10  11   1    12
5   inc  a  NaN    11  11  11    11
5   inc  a  NaN    12  11  10    11
5   inc  a  NaN    13  11   9    11
5   inc  a  NaN    14  11   8    11
5   inc  a  NaN    15  11   7    11
5   inc  a  NaN    16  11   6    11
5   inc  a  NaN    17  11   5    11
5   inc  a  NaN    18  11   4    11
5   inc  a  NaN    19  11   3    11
5   inc  a  NaN    20  11   2    11
5   inc  a  NaN    21  11   1    11
5   inc  a  NaN    22  11  11    10
5   inc  a  NaN    23  11  10    10
5   inc  a  NaN    24  11   9    10
5   inc  a  NaN    25  11   8    10
5   inc  a  NaN    26  11   7    10
5   inc  a  NaN    27  11   6    10
5   inc  a  NaN    28  11   5    10
5   inc  a  NaN    29  11   4    10
..  ... ..  ...   ...  ..  ..   ...
5   inc  a  NaN  1510   9   2  1153
5   inc  a  NaN  1511   9   1  1153
5   inc  a  NaN  1512   9   9  1152
5   inc  a  NaN  1513   9   8  1152
5   inc  a  NaN  1514   9   7  1152
5   inc  a  NaN  1515   9   6  1152
5   inc  a  NaN  1516   9   5  1152
5   inc  a  NaN  1517   9   4  1152
5   inc  a  NaN  1518   9   3  1152
5   inc  a  NaN  1519   9   2  1152
5   inc  a  NaN  1520   9   1  1152
5   inc  a  NaN  1521   9   9  1151
5   inc  a  NaN  1522   9   8  1151
5   inc  a  NaN  1523   9   7  1151
5   inc  a  NaN  1524   9   6  1151
5   inc  a  NaN  1525   9   5  1151
5   inc  a  NaN  1526   9   4  1151
5   inc  a  NaN  1527   9   3  1151
5   inc  a  NaN  1528   9   2  1151
5   inc  a  NaN  1529   9   1  1151
5   inc  a  NaN  1530   9   9  1150
5   inc  a  NaN  1531   9   8  1150
5   inc  a  NaN  1532   9   7  1150
5   inc  a  NaN  1533   9   6  1150
5   inc  a  NaN  1534   9   5  1150
5   inc  a  NaN  1535   9   4  1150
5   inc  a  NaN  1536   9   3  1150
5   inc  a  NaN  1537   9   2  1150
5   inc  a  NaN  1538   9   1  1150
5   inc  a  NaN  1539   9   9  1149

[2992 rows x 7 columns]

time: 61.8 ms